<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery-3.2.1.min.js"></script>

</head>
<body>
hello springboot
<form action="getHello" method="post">
    <p>后台管理系统</p>
    <lable>账户名&nbsp;</lable> <input name="userName" type="text"></input><br>
    <lable>密码&nbsp;&nbsp;&nbsp;</lable><input name="password" type="text"></input><br>
    <input type="submit" value="登录" style="background-color: gold;width: 100px">
</form>

<input type="button" value="ajax请求" id="btn">
</body>
<script type="text/javascript">
    $("#btn").click(function (){
        $.ajax({
            url:'getHello4',
            data:{
                userName:"aaa",
                password:"1234",
            },
            method:'post',
            dataType:'json',
            success:function (resp){
                console.log(resp)
                alert(resp)
            }

        })
    });
</script>
</html>
